
body {
    background-image:url("/public/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:black;
}

legend {
    color: black;
}

.container {
    background:rgb(59, 100, 112);
    opacity: 90%;
}