
body {
    background-image:url("../img/background.jpg");
    background-repeat: no-repeat;

    background-size: 100%;
    color:white;
}

legend {
    color: white;
}
.formlogo {
    width: 15%;
    height: 15%;
}

.container {
    background:rgb(59, 100, 112);
    opacity: 90%;
}

.login-pg,
.signup-pg{
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
}